<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <description>Basic Configuration</description>

    <!-- 加载配置属性文件 -->
    <context:property-placeholder
            ignore-unresolvable="true" location="file:conf/gateway2.properties"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="default"/>
        <property name="jdbcUrl" value="${jdbc.ds.url}"/>
        <property name="username" value="${jdbc.ds.user}"/>
        <property name="password" value="${jdbc.ds.password}"/>
        <property name="driverClassName" value="${jdbc.ds.driver}"/>
        <property name="minimumIdle" value="${jdbc.ds.minimumIdle}"/>
        <property name="maximumPoolSize" value="${jdbc.ds.maximumPoolSize}"/>
        <property name="connectionTimeout" value="${jdbc.ds.connectionTimeout}"/>
        <property name="idleTimeout" value="${jdbc.ds.idleTimeout}"/>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
          destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:/mappings/**/*.xml"/>
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="corex.dao"/>
    </bean>

    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"
                          proxy-target-class="true"/>

    <bean id="coreXConfig" class="corex.core.CoreXConfig">
        <property name="id" value="${corex.id}"/>
        <property name="role" value="${corex.role}"/>
        <property name="harborPort" value="${corex.harbor.port}"/>
        <property name="httpPort" value="${corex.gateway.http.port}"/>
        <property name="webRoot" value="${corex.gateway.http.webroot}"/>
    </bean>

    <bean id="dashboardService" class="corex.core.service.DashboardService">
    </bean>
    <bean id="logService" class="corex.core.service.LogService">
    </bean>
    <bean id="harborServerService" class="corex.core.service.HarborServerService">
    </bean>
    <bean id="harborClientService" class="corex.core.service.HarborClientService">
    </bean>
    <bean id="cacheService" class="corex.core.service.CacheService">
    </bean>
    <bean id="gateService" class="corex.gateway.service.GatewayService">
    </bean>

</beans>
