<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>

        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="logs/app.log"
                     filePattern="logs/app.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <logger name="io.bigoldbro.corex.impl" level="DEBUG">
        </logger>
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>

</configuration>
